h1 { font-family: Lato, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
	font-size: 36px; font-style: normal; font-variant: normal; font-weight: lighter; 
	line-height: 26.4px; text-align:center; color : white} 


h3 { font-family: Lato, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 14px; 
font-style: lighter; font-variant: lighter; font-weight: lighter; line-height: 15.4px; color : white} 

p { font-family: Lato, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 14px; 
font-style: normal; font-variant: normal; font-weight: 100; line-height: 20px; color : white} 
blockquote { font-family: Lato, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
font-size: 21px; font-style: lighter; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Lato, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 13px; 
font-style: normal; font-variant: normal; font-weight: 100; line-height: 18.5714px; color : white}


.tab { margin-left: 40px; }
.tab2 { margin-left: 40px; }