

h1 { font-family: Optima, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 70px; font-style: normal; font-variant: normal; font-weight: lighter; line-height: 30px; text-align:center; color : #3b3945} 


h3 { font-family: Optima, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 18px; 
font-style: lighter; font-variant: lighter; font-weight: lighter; line-height: 1px; color : black} 

p { font-family: Lato, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 18px; 
font-style: normal; font-variant: normal; font-weight: 100; line-height: 16px; color : black

} 
blockquote { font-family: Gill Sans, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
font-size: 21px; font-style: lighter; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Gill Sans, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 13px; 
font-style: normal; font-variant: normal; font-weight: 100; line-height: 15px; color : black}


h2 { font-family: Optima, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 15px; 
font-style: normal; font-variant: normal; font-weight: 100; line-height: 20px; color : #3b3945}


h4 { font-family: Optima, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 10px; 
font-style: normal; font-variant: normal; font-weight: 100; line-height: 20px; color : #3b3945;text-align:left}
h5 { font-family: Optima, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 15px; 
font-style: normal; font-variant: normal; font-weight: 100; line-height: 20px; color : #3b3945;text-align:center}


.tab { margin-left: 40px; }
.tab2 { margin-left: 40px; }

.wrapper {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
font-family: Lato, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 14px; 
font-style: lighter; font-variant: lighter; font-weight: lighter; line-height: 15px; color : white 

  
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
text-decoration: none;
}

body {
  margin: 40px;
   overflow-wrap: break-word;
}

head {
  opacity: 1;
  transition: 0.7s opacity;
}

head.fade {
    opacity: 0;
    transition: none;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

p.letters {
    word-wrap: break-word;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}



li {
    padding: 10px 0 0 0;
    margin: 30px 0;
    line-height: 10px;
}



/* quick reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* relevant styles */
.img__wrap {
  position: relative;
  height: 100px;
  width: 100px;
  opacity: 1;
  z-index: 9998!important;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 110px;
  background: rgba(99, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 1;
  font-family: Gill Sans, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 14px; text-align:center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}











button .comment { display: none; }
button:hover .replies { display: none; }
button:hover .comment { display: inline; }



.column {
  float: left;
  padding: 5px 5px;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  color: white; 
  height: 20px;
  font-family: Gill Sans, Calibri, Segoe, "Segoe UI", Optima, Arial;
}

.containerTab {
  padding: 10px;
  color: white;
  transition: height 0.5s;
   font-family: Gill Sans, Calibri, Segoe, "Segoe UI", Optima, Arial;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  transition: height 1s;
   font-family: Gill Sans, Calibri, Segoe, "Segoe UI", Optima, Arial;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
  transition: height 1s;
   font-family: Gill Sans, Calibri, Segoe, "Segoe UI", Optima, Arial;
}

/* Closable button inside the image */
.closebtn {
  float: right;
  color: black;
  font-size: 15px;
  transition: height 0.5s;
  cursor: pointer;
  font-family: Gill Sans, Calibri, Segoe, "Segoe UI", Optima, Arial;
}

/**


svg text {display: none;}
svg g:hover text {display: block;}
**/





#faq {
  margin-top: 20px;
}
.accordion-item {
  padding: 0 30px;
}
.accordion-section h2 {
  font-size: 24px;
  color: #1c81ac;
  margin-bottom: 14px;
  text-transform: capitalize;
  margin-top: 0;
  letter-spacing: 0;
}
section h2 {
  font-weight: 600;
  letter-spacing: 0.5px;
}
.panel-group {
  margin-bottom: 0;
}
.accordion-section .panel-heading {
  background-color: #ebebeb;
  color: #323b40;
  padding: 10px 0 12px;
}
.accordion-section h4.panel-title {
  padding: 0 10px;
  margin-bottom: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0;
  font-weight: 400;
}
#faq .collapsed {
  display: table;
  line-height: 22px;
}
#faq .faq-toggle {
  float: left;
}
section.faq .fa:before {
  font-size: 20px;
  padding-right: 8px;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .pricing-plans-wrapper .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: none;
}
section.faq .panel-body p {
  text-align: left;
  font-size: 16px;
}
p, 
.ul li {
  color: #5b666d;
}
ol, 
ul {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


#side-menu {
  background-color: #f4f4f4;
  color: black;
  width: 10px;
  height: 1px;
  padding: 0px;
  list-style: none;
  transition: ease-in-out all .4s;
  display: table;
  font-family: Gill Sans;
}

li {
  width: 50%;
  height: 50%;
  display: table-cell;
}

.side-menu__label {
  float: left;
  width: 100px;
  opacity: 0.2;
  position: absolute;
  transition: ease-in-out all .4s;
}

#side-menu:hover {
  width: 180px;
}

#side-menu:hover .side-menu__label {
  opacity: 1;
}

.side-menu__label2 {
  float: left;
  width: 1000px;
  opacity: 0;
  position: absolute;
  transition: ease-in-out all .4s;
}

#side-menu2:hover {
  width: 180px;
}

#side-menu2:hover .side-menu__label {
  opacity: 1;
}



.grow {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  height: 49px;
  width: 22%;
  margin: 5px 1% 5px 1%;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
}
.grow:hover {
  height: 145px;
}



.axis line{
      visibility:hidden;
    }

/* hides bottom xaxis line*/
.axis .domain {
  display: none;
}

.axis {
    font: 13px sans-serif;
  }

  .yUnits {
    font: 14px sans-serif;
  }

  .caption {
    font: 12px sans-serif;
  }

.chartDisplayTitle{
  fill:#354B5F;
  font-weight: bold;
  font: 20px sans-serif;
}


a:link {
  color: blue; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 10px;
}
.grid-item {

  padding: 20px;
  font-size: 10px;
    font-family: Optima;
  text-align: center;
}